<ion-header>
    <ion-toolbar color="primary">
      <ion-title>G2D Delivery</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true" scrollable="false">
      <ion-grid class="bg-light-tint">
        <ion-row>
          <ion-col
            size-md="6"
            offset-md="3"  
          >
  
          <div>
              <form onsubmit="processForm(event)">
                <div style="margin:35% 0; background:#fff;" class="ion-padding">
                  <div>
                      <ion-label position="stacked">Enter OTP <ion-text color="danger">*</ion-text></ion-label>
                      <h1>
                        <ion-input 
                          style="letter-spacing: 0.5em;"
                          class="border-bottom-light-shade ion-text-center" 
                          required type="number" max="9999" min="0"></ion-input>
                      </h1>
                      <ion-button expand="block" type="submit" class="ion-margin-top">Submit</ion-button>
    
                      <div class="ion-padding ion-text-center">
                        <ion-label><p>Didn't receive the code?</p></ion-label>
                        <p>
                            <ion-text color="primary">Resend code</ion-text>
                        </p>
                        </div>
                  </div>
                </div>
              </form>
          </div>
  
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
  