<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Order Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollable="false">
  <ion-grid class="bg-light-tint">
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-grid class="border-light-shade ion-margin bg-contrast">
          <ion-row>
            <ion-col>
              <ion-label><p>Order No</p></ion-label>
            </ion-col>
            <ion-col text-right>
              <ion-label><p>Payment</p></ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="mg-top-neg">
            <ion-col size="9">
              <ion-label><h3>#{{ orderId }}</h3></ion-label>
            </ion-col>
            <ion-col text-right size="3">
              <ion-text color="primary">
                UPI
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
 
        <ion-grid class="border-light-shade ion-margin bg-contrast">
          <ion-row>
            <ion-col>
              <ion-label><p>Delivery Address</p></ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="mg-top-neg" *ngIf="(order | json) != '{}'">
            <ion-col size="8">
              <ion-label>
                <h3>{{ order.first_name +' '+ (order.last_name ? order.last_name : '') }}</h3>
              </ion-label>
              <ion-label>
                <h3>{{ order.flat_plot_no + ', ' + order.building_name }}</h3>
              </ion-label>
              <ion-label>
                <h3>{{ order.location }}</h3>
              </ion-label>
              <ion-label *ngIf="order && order.landmark!=''">
                <h3>Landmark: {{ order.landmark }}</h3>
              </ion-label>
            </ion-col>
            <ion-col text-right size="4">
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <a href="tel:9944221974">
                      <ion-icon
                        class="circle border-primary padding"
                        color="primary"
                        name="call"
                      ></ion-icon>
                    </a>
                  </ion-col>
                  <ion-col size="6">
                    <ion-icon
                      class="circle border-primary padding"
                      color="primary"
                      name="pin"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="border-light-shade ion-margin bg-contrast">
          <ion-row>
            <ion-col>
              <ion-label><p>Order Summary</p></ion-label>
            </ion-col>
          </ion-row>


          <ion-row *ngFor="let product of productsList; let ind = index" class="border-bottom-light-shade row-space">
            <ion-col size="2">
                <img [attr.src]="product.product_image">
            </ion-col>
            <ion-col>
              <ion-label>
                <h3>{{ product.product_title }}</h3>
                <ion-text color="success">
                  <h6>Available</h6>
                </ion-text>
                <ion-button color="light" expand="full" class="font-13" (click)="onSelectClick(ind)" #quantitySelect>
                        <ion-label>Quantity</ion-label>
                        <ion-select (ionChange)="onChangeQuantity( $event , product )" [interfaceOptions]="customAlertOptions" class="quantity-select" okText="Confirm" cancelText="Cancel">
                          <ion-select-option value="0">0 (Remove Product)</ion-select-option>
                          <ion-select-option *ngFor="let i of arrayFill(product.product_quantity)" [selected]="i == product.product_quantity">{{i}}</ion-select-option>
                        </ion-select>
                  </ion-button>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label><h3>₹{{product.product_rate}}</h3></ion-label>
            </ion-col>
          </ion-row>

          <!--  OUT OF STOCK SAMPLE TEMPLATE ---->
           <!-- <ion-row class="border-bottom-light-shade row-space">
            <ion-col size="2">
                <img src="https://www.bigbasket.com/media/uploads/p/l/40109378_5-bb-royal-organic-moong-dal-unpolished.jpg">
            </ion-col>
            <ion-col>
              <ion-label>
                <h3>bb Royal Organic - Moong Dal, Unpolished, 2 kg</h3>
                <ion-text color="danger">
                  <h6>Out of stock</h6>
                </ion-text>
                
                <ion-button color="light" expand="full" disabled>
                  <ion-label>
                      <h5>
                        Quantity:  2
                        <ion-icon slot="end" src="../../assets/icons/_ionicons_svg_md-arrow-dropdown.svg"></ion-icon>
                      </h5>
                  </ion-label>
                </ion-button>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label><h3><s>$1000.00</s></h3></ion-label>
            </ion-col>
          </ion-row> -->

          <ion-row>
              <ion-col>
                <ion-label><h3>Sub total</h3></ion-label>
              </ion-col>
              <ion-col size="3">
                  <ion-label><h3>₹{{orderInfo.total_amount}}</h3></ion-label>
              </ion-col>
          </ion-row>
          <ion-row class="border-bottom-light-shade">
              <ion-col>
                <ion-label><h3>Discount amount</h3></ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label><h3>₹{{orderInfo.discount_amount}}</h3></ion-label>
              </ion-col>
            </ion-row>
          <ion-row class="row-space">
            <ion-col>
              <ion-label><h3>Total</h3></ion-label>
            </ion-col>
            <ion-col size="3">
                <ion-label><h3>₹{{orderInfo.total_amount}}</h3></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>
